:root {
    --border: 1px solid white;
    --color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background: radial-gradient(circle at center, rgb(86, 86, 86), rgb(0, 0, 0) 100%);
    height: 100%;
}

.main {
    position: absolute;
}

.nav {
    text-align: center;
    height: 200px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, .50);
    color: var(--color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profileTitle {
    text-shadow: 2px 2px 4px #000000;
    font-size: 2em;
}

.navTitle {
    text-shadow: 2px 2px 4px #000000;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTitle > img {
    max-height: 200px;
    position: relative;
}

.profileImage > img {
    max-width: 100%;
    height: 100%;
    min-height: 500px;
}

.profileTop, .profileBottom {
    display: flex;
    justify-content: space-between;
}

.profileItem {
    flex: 1 0 0;
    margin: 10px;
    /* max-width: 50%; */
    width: 50%;
    vertical-align: middle;
    /* text-align: center; */
}

.profileImage {
    border: 2px solid white;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    border-radius: 15px;
    overflow: hidden;
}

.profileMap {
    height: 500px;
    border: 2px solid white;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
    border-radius: 15px;
}

.changeCityButton {
    margin-top: 10px;
    padding: 10px;
    width: 250px;
    /* border-radius: 5px; */
    background-color: rgb(155, 34, 34);
    color: var(--color);
    border: none;
    font-size: 1em;
}

.characterInfo {
    list-style: none;
    padding-left: 0px;
    color: var(--color);
}

.characterInfo > li {
    margin-top: 15px;
}

.place {
    color: red;
}

/* Handle iFrame */

.resp-container {
    position: relative;
    overflow: hidden;
    /* padding-top: 56.25%; */
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Handle mobile responsiveness */

@media (max-width: 800px) {
    .profileItem {
      flex: 100%;
    }

    .profileTop, .profileBottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }