.root {

}

.main {
    border: 1px solid black;
}

.nav {
    border: 1px solid black;
    text-align: center;
}

.profile {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profileItem {
    flex: 1 0 0;
}

.profileImage {
    border: 1px solid black;

}

.profileText {

}

.profileInfo {
    border: 1px solid black;
}

.profileRecs {
    border: 1px solid black;
}

.profileMap {
    border: 1px solid black;
}

@media (max-width: 800px) {
    .profileItem {
      flex: 100%;
    }
  }