.root {

}

.main {
    border: 1px solid black;
}

.nav {
    border: 1px solid black;
}

.profile {
    border: 1px solid black;
}

.profileImage {
    border: 1px solid black;
}

.profileText {

}

.profileInfo {
    border: 1px solid black;
}

.profileRecs {
    border: 1px solid black;
}

.profileMap {
    border: 1px solid black;
}