:root {
    --border: 1px solid white;
    --color: white;
    --box-shadow: 3px 3px 10px rgba(0, 0, 0, .75);
    --marvel-red: rgb(155, 34, 34);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    margin: auto;
    height: 100%;
    text-align: center;
}

body {
    height: 100%;
}

.navTitle {
    text-shadow: 2px 2px 4px #000000;
    font-size: 4em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navTitle > img {
    height: fit-content;
    position: relative;
}

#modal-button {
    font-size: 2em;
    margin-top: 400px;
}

.button {
    background-color: var(--marvel-red);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: var(--box-shadow);
}

.button:hover {
    background-color: rgb(129, 22, 22);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.modal-card-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.modal-card-body {
    background-color: var(--marvel-red);
}
.modal-card-foot,
.modal-card-head {
    background-color: var(--marvel-red);
}

.is-danger {
    background-color: black;
}

#cities-autocomplete {
    text-align: center;
}

.characters {
    visibility: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background: radial-gradient(circle at center, rgb(86, 86, 86), rgb(0, 0, 0) 100%);
}

.landing-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background: radial-gradient(circle at center, rgb(86, 86, 86), rgb(0, 0, 0) 100%);
}

nav {
    text-align: center;
    width: 100%;
    height: 30%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-content: center;
}


@media (min-width: 1000px) {
    .navTitle {
        text-shadow: 2px 2px 4px #000000;
        font-size: 3em;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .navTitle > img {
        height: fit-content;
        position: relative;
        scale: .75;
    }
}
