:root {
    --border: 1px solid white;
    --color: white;
    --box-shadow: 3px 3px 10px rgba(0, 0, 0, .75);
    --marvel-red: rgb(155, 34, 34);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    margin: auto;
    height: 100%;
    text-align: center;
}

html, body {
    height: 100%;
    background: radial-gradient(circle at center, rgb(86, 86, 86), rgb(0, 0, 0) 100%);
    background-attachment: fixed;
}

body {
    height: 100%;
    /* background: radial-gradient(circle at center, rgb(86, 86, 86), rgb(0, 0, 0) 100%); */
}


/* Begin NAV CSS */

nav {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    background-color: rgba(0, 0, 0);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-content: center;
    display: none; 
}

.navTitle {
    padding-left: 10%;
    padding-right: 10%;
}

.navTitleLP {
    margin-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

/* BEGIN CHARACTER PAGE CSS */

.directionsTitle {
    font-weight: bold;
}

.directionsList {
    font-size: 1.2em;
    margin-bottom: 25px;
}

.directions {
    text-shadow: 2px 2px 4px #000000;
    color: var(--color);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.directions > h1 {
    font-size: 2.5em;
}

.directions > h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.directions > p {
    font-size: 1em;
}

.directions > span {
    padding-right: 20px;
}

.searchingIn,
.directionsSubTitle {
    font-weight: bold;
}

#modal-button {
    font-size: 2em;
    /* margin-top: 400px; */
}

.button {
    background-color: var(--marvel-red);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: var(--box-shadow);
}

.button:hover {
    background-color: rgb(129, 22, 22);
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.characterPageButton {
    min-width: 200px;
    min-height: 40px;
}

.modal-card-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.modal-card-body {
    background-color: var(--marvel-red);
}

.modal-card-foot,
.modal-card-head {
    background-color: var(--marvel-red);
}

#modalFooterP {
    color: var(--color);
}

.searchHistory {
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

#citySearchHistory {
    margin-bottom: 20px;
    color: white;
}

#citySearchHistory li:hover {
    color: burlywood;
}

.aCitySearched {
    text-align: center;
}

.is-danger {
    background-color: black;
}

#cities-autocomplete {
    text-align: center;
    max-width: 100%;
}

.characters {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
}

.character:hover {
    cursor: pointer;
}

.changeCityButton {
    padding: 10px;
    width: 250px;
    background-color: rgb(155, 34, 34);
    color: var(--color);
    border: none;
    font-size: 1em;
    box-shadow: var(--box-shadow);
}

.characterList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.character {
    position: relative;
    color: var(--color);
    margin: 10px 10px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(155, 34, 34);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.character img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.character:after {
    content: "";
    display: block;
    padding-bottom: 70%;
}

.landing-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    /* background: radial-gradient(circle at center, rgb(86, 86, 86), rgb(0, 0, 0) 100%); */
}

/* Handle Tool Tip */

.tooltip {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    top: 50%;
    margin-left: -60px;
        
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* START CSS FOR PROFILE PAGE */

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.profileTitle {
    text-shadow: 2px 2px 4px #000000;
    font-size: 4em;
    font-weight: bold;
}

.recsTitle {
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.toEat,
.toDo {
    margin-bottom: 20px;
}

.profileTop, .profileBottom {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.profileBottom {
    background-color: rgba(0, 0, 0, 0.5);
    /* height: 1000px; */
    position: fixed bottom;

}

.profileItem {
    flex: 1 0 0;
    margin: 10px;
    width: 50%;
    vertical-align: middle;
}

.profileInfo {
    position: relative;
}

.profileImage {
    box-shadow: var(--box-shadow);
    border-radius: 0px 15px 15px 0px;
    overflow: hidden;
    margin-left: -10px;
    flex: 1 1 0;
    width: 100%;
}

.profileMap {
    height: 500px;
    /* border: 2px solid white; */
    box-shadow: var(--box-shadow);
    border-radius: 15px 0px 0px 15px;
    margin-right: 0px;
}

.readMore,
.readMore > a {
    font-weight: bold;
    color: red;
}

.changeCityButton,
.backButton {
    margin-top: 150px;
    padding: 10px;
    width: 250px;
    /* border-radius: 5px; */

}

.backButton {
    width: 100px;
    margin-top: 0px;
    float: right;
    cursor: pointer;
}

.characterInfo {
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    color: var(--color);
}

.characterInfo > li {
    margin-top: 15px;
    color: var(--color);
    margin-bottom: 20px;
    width: 100%;
}

.characterDescription {
    font-size: 2em;
}

.characterDescriptionSub,
.numComics,
.favMeal,
.favThing,
.hobbies,
.characterRecs,
.toEat-character-info,
.toDo-character-info,
.toDoSearch {
    font-size: 1.4em;
}

strong {
    color: var(--color);
 }

.place,
.toEat,
.toDo {
    color: var(--marvel-red);
}

a,
a:hover,
a:visited {
    color: var(--color);
    font-style: italic;
}

/* Handle iFrame */

.resp-container {
    position: relative;
    overflow: hidden;
    /* padding-top: 56.25%; */
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 1100px) {

    .backButton {
    margin-top: 50px;
    }

    .navTitleLP {
        margin-top: 35%;
    }

    #modal-button {
        font-size: 1.5em;
    }

    .profileItem {
        flex: 1 0 0;
        margin-top: -20px;
        width: 100%;
        vertical-align: middle;
    }

    .directionsTitle {
        font-size: 1.5em;
    }

    .pac-container {
        max-width: 450px;
    }

    .modal-content,
    .directionsSubTitle,
    .directionsList,
    .searchingIn,
    button {
        scale: .75;
    }

    .profileTitle {
        margin-top: 0px;
        font-size: 3em;
    }

    .characterDescription {
        font-size: 1.5em;
    }

    .profileTop {
        flex-direction: column;
    }

    .characterDescription {
        width: 100%;
    }

    .characterInfo {
        width: 100%;
    }

    .characterInfo > li {
        margin-top: 15px;
        color: var(--color);
        margin-bottom: 20px;
    }


}

@media (max-width: 650px) {
    .navTitleLP {
        margin-top: 45%;
    }

    .modal-content {
        scale: .90;
    }

    #modal-button {
        font-size: 1.0em;
    }

    .pac-container {
        max-width: 425px;
    }
      
    .tooltip .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: .5em;
    overflow-wrap: break-word;
    }

    .characterDescription,
    .characterDescriptionSub {
        font-size: 1.3em;
    }

    .characterRecs {
        font-size: 1.3em;
    }

    .mapDiv {
    min-width: 200px;
    min-height: 200px;
    }
      
}

@media (max-width: 600px) {
    .pac-container {
        max-width: 375px;
    }

    .recsTitle,
    .profileTitle {
        font-size: 2em;
    }

    .characterRecs,
    .characterDescriptionSub {
        font-size: 1.2;
    }
}

@media (max-width: 500px) {
    .pac-container {
        max-width: 375px;
    }
    .profileRecs {
        width: 70%;
    }

    .profileItem {
        flex: 1 1 0;
        margin-top: -20px;
        width: 100%;
        vertical-align: middle;
    }
}

@media (max-width: 450px) {
    .pac-container {
        max-width: 330px;
    }

    .recsTitle {
        font-size: 1.6em;
    }

    .profileTitle {
        font-size: 1.7em;
    }
}

@media (max-width: 400px) {
    .pac-container {
        max-width: 275px;
    }
    .navTitleLP {
        margin-top: 55%;
    }

    #modal-button {
        font-size: .75em;
    }

    .modal-content {
        scale: .75;
    }

    .directionsTitle {
        font-size: .8em;
    }

    .recsTitle {
        font-size: 1.5em;
    }

    .characterRecs {
        font-size: 1;
    }
}

@media (max-width: 375px) {
    .pac-container {
        max-width: 250px;
    }

    .recsTitle {
        font-size: 1.3em;
    }
}

@media (max-width: 350px) {
    .pac-container {
        max-width: 215px;
    }

    .characterDescriptionSub {
        font-size: 1em;
    }
}
